<div
    class="card lg:card-side bg-base-100 shadow-xl mb-5 min-[650px]:mx-20 mx-5"
>
    <div class="card-body">
        <div class="flex justify-between">
            <h2 class="card-title text-center">Card Number {{ cardNumber }}</h2>

            <div class="tooltip" data-tip="Delete card">
                <button class="btn btn-xs btn-ghost" (click)="onDeleteCard()">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                        />
                    </svg>
                </button>
            </div>
        </div>

        <form [formGroup]="cardForm">
            <div class="pb-5">
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Class:</span>
                    </div>
                    <input
                        type="text"
                        placeholder="Class name"
                        class="input input-bordered w-full"
                        formControlName="class"
                    />
                </label>
            </div>

            <div class="flex pb-5" formArrayName="responsibilities">
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Responsibilities:</span>
                    </div>
                    <div
                        *ngFor="let responsibility of responsibilities.controls; let i = index"
                        class="mb-4 flex"
                    >
                        <input
                            type="text"
                            placeholder="Responsibility"
                            class="input input-bordered w-full"
                            [formControlName]="i"
                        />

                        <div class="tooltip" data-tip="Add responsibility">
                            <button
                                class="btn btn-circle btn-success ml-5"
                                (click)="onAddResponsibility()"
                                type="button"
                                *ngIf="i === 0"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="w-6 h-6"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M12 4.5v15m7.5-7.5h-15"
                                    />
                                </svg>
                            </button>
                        </div>

                        <div class="tooltip" data-tip="Delete responsibility">
                            <button
                                class="btn btn-circle btn-error ml-5"
                                type="button"
                                (click)="onRemoveResponsibility(i)"
                                *ngIf="i !== 0"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M6 18L18 6M6 6l12 12"
                                    />
                                </svg>
                            </button>
                        </div>
                    </div>
                </label>
            </div>

            <div class="flex pb-5" formArrayName="collaborators">
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Collaborators:</span>
                    </div>
                    <div
                        *ngFor="let collaborator of collaborators.controls; let i = index"
                        class="mb-4 flex"
                    >
                        <input
                            type="text"
                            placeholder="Collaborator"
                            class="input input-bordered w-full"
                            [formControlName]="i"
                        />

                        <div class="tooltip" data-tip="Add collaborator">
                            <button
                                class="btn btn-circle btn-success ml-5"
                                (click)="onAddCollaborator()"
                                type="button"
                                *ngIf="i === 0"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="w-6 h-6"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M12 4.5v15m7.5-7.5h-15"
                                    />
                                </svg>
                            </button>
                        </div>

                        <div class="tooltip" data-tip="Delete collaborator">
                            <button
                                class="btn btn-circle btn-error ml-5"
                                type="button"
                                (click)="onRemoveCollaborator(i)"
                                *ngIf="i !== 0"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M6 18L18 6M6 6l12 12"
                                    />
                                </svg>
                            </button>
                        </div>
                    </div>
                </label>
            </div>
        </form>
    </div>
</div>
