<div class="container mx-auto max-w-lg px-5" id="faq">
    <h2 class="text-3xl font-bold text-center mb-5">FAQ</h2>

    <div class="collapse collapse-arrow bg-base-200 mb-2">
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title text-l font-medium">What are CRC cards?</div>
        <div class="collapse-content">
            <p>
                Class-responsibility-collaboration (CRC) cards are a
                brainstorming tool used in the design of object-oriented
                software.
            </p>
        </div>
    </div>
    <div class="collapse collapse-arrow bg-base-200 mb-2">
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title text-l font-medium">
            How do you use CRC cards?
        </div>
        <div class="collapse-content">
            <p>
                The starting point is to think of the nouns that exist in your
                system. From there, you can assign responsibilities (methods) to
                each object, as well as the collaborators (other objects) that
                are needed to fulfill those functionalities.
            </p>
        </div>
    </div>
    <div class="collapse collapse-arrow bg-base-200 mb-10">
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title text-l font-medium">
            How do I use this tool?
        </div>
        <div class="collapse-content">
            <p>
                Fill in each card's information with its class name,
                responsibilities, and collaborators. You may add more cards or
                reset all cards if you wish to start over. You can then
                visualize your compact cards in a free space by dragging and
                dropping them.
            </p>
        </div>
    </div>
</div>
